[Desktop Entry]
Encoding=UTF-8
Name=FooBillard
Comment=OpenGL billard game
Comment[pl]=Bilard oparty o biblioteke OpenGL
Exec=foobillard
Icon=foobillard.xpm
Terminal=false
Type=Application
Categories=Application;Game;ArcadeGame;
# vi: encoding=utf-8
